
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* small & md screens */
  @media only screen and (min-width: 200px) {
     body {
      overflow-y: scroll;
      overflow-x: hidden;
      width: 95%;
    }
}

/* large screens */
@media only screen and (min-width: 992px) {
  body {
    overflow: hidden;
    width: 100%;
  }
  #container {
    overflow: hidden;
  }
}

/* scroll bar for the list on the left of the page
  no Firefox support without disabling scrolling entirely */
#cities::-webkit-scrollbar {
  border-radius: 10px;
  background-color: white;
  height: 0px; /* hides bottom scrollbar track */
}

#cities::-webkit-scrollbar-corner {
  display: none;
}

#cities::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}


#left, #right {
  border-radius: 12px;
  height: 370px;
}


#info {
  border-radius: 8px 0 0 8px;
}

#info .item {
  font-size: 20px;
  font-weight: bold;
}

.smaller {
  color: white;
  font-size: 16px;
  font-weight: normal;
  padding-left: 0.75em;
}

.forecast-box {
  max-height: 220px;
  border: 1px solid grey;
  border-radius: 8px;
}

/* overwrite the .m-2 class to expand the margins a bit
default is 0.5rem */
.m-2 {
  margin: 0.75rem !important;
}

/* make .bg-light a bit darker, & round the corners while we're at it */
.bg-light {
    background-color: #ebebe0 !important;
    border-radius: 4px;
}

#cities {
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: bold;
}

#cities a:hover {
  background-color: #007bff;
  color: white;
}

.selected {
  background-color: #99c2ff !important;
  font-weight: bolder;
}

.selected:hover {
  background-color: #007bff !important;
}

#placeholder h2 {
  font-weight: bolder;
}
